:root.theme-light {
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --color-text-menu: #353430;
  --color-text-header-paragraph: #353430;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --main-title-color: #FFC2E6;
  --color-card-title: #353430;
  --color-decorated-angle: #353535;
  --color-button-hover: rgb(50 49 45 / 0.4);
}