:root {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --main-title-color: #DB00FF;
  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --weight-regular: 400;
  --weight-bold: 700;
}
